<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<!--zazu.berlin t12 -->
<div class="loginForm wrapper clearfix">

    <h3>
        <f:translate key="change_password_header" />
    </h3>
    <p>
        <f:if condition="{passwordRequirements}">
            <f:then>
                <f:translate key="change_password_description" />
            </f:then>
            <f:else>
                <f:translate key="change_password_message" arguments="{0: settings.newPasswordMinLength}" />
            </f:else>
        </f:if>
    </p>

    <f:render partial="ValidationErrors" />

    <f:form action="changePassword" method="post">
        <legend>
            <f:translate key="change_password" />
        </legend>
        <div>
            <label for="tx-felogin-input-newpassword-1">
                <f:translate key="newpassword_label1" />
                <f:form.password name="newPass" autocomplete="new-password" id="tx-felogin-input-newpassword-1" />
            </label>
        </div>
        <div>
            <label for="tx-felogin-input-newpassword-2">
                <f:translate key="newpassword_label2" />
                <f:form.password name="newPassRepeat" autocomplete="new-password" id="tx-felogin-input-newpassword-2" />
            </label>
        </div>
        <f:form.hidden name="hash" value="{hash}" />
        <f:form.submit value="{f:translate(key: 'change_password')}" />
    </f:form>

    <f:if condition="{passwordRequirements}">
        <p>
            <f:translate key="password_requirement" />
        </p>
        <ul>
            <f:for each="{passwordRequirements}" as="passwordRequirement">
                <li>{passwordRequirement}</li>
            </f:for>
        </ul>
    </f:if>

    <p>
        <f:link.action action="login" controller="Login">
            <f:translate key="forgot_header_backToLogin" />
        </f:link.action>
    </p>

    <!--zazu.berlin-->
</div>

</html>
