<div itemscope itemtype="http://schema.org/Organization">
<!--Logo and Nav-->
<header class="mainHeader wrapper clearfix">
    <div class="center clearfix">

        <a href="/" title="Hier kommen Sie zur Startseite.">
            <svg id="logo" viewBox="0 0 462.15 73.89" xmlns="http://www.w3.org/2000/svg">
                <path d="m428.13 0h34.02v34.02h-34.02z" fill="#107c30" />
                <path d="m428.13 36.85h34.02v34.02h-34.02z" fill="#ec6608" />
                <path d="m391.28 0h34.01v34.02h-34.01z" fill="#e30613" />
                <path d="m425.3 53.86a17 17 0 1 1 -17-17 17 17 0 0 1 17 17" fill="#007bc4" fill-rule="evenodd" />
                <g fill="#1d1d1b">
                    <path d="m415.35 54a6.95 6.95 0 1 1 -6.94-6.95 6.94 6.94 0 0 1 6.94 6.95" fill-rule="evenodd" />
                    <path
                        d="m28.5 22.65h-9.23v-3.42h13.17v19.77a29.76 29.76 0 0 1 -12.37 2.46c-12.55.01-20.07-8.26-20.07-20.57 0-12.09 7.75-20.58 20.07-20.58 3 0 8 .51 10.66 1.88l-.46 3.65c-3.08-1.71-6.73-2.11-10.2-2.11-10.32 0-16.14 7.27-16.14 17.16 0 10 5.65 17.16 16.14 17.16 2.45 0 6.55-.29 8.43-1.43z" />
                    <path d="m46.11 1h19.5v3.41h-15.56v14.2h14.76v3.39h-14.76v15.36h16.24v3.42h-20.18z" />
                    <path
                        d="m76.66 35.71a15.7 15.7 0 0 0 8.78 2.34c4.91 0 9-2.51 9-8.16 0-7.81-18.24-8.78-18.24-19.21-.05-6.38 5.54-10.37 12.55-10.37a23.63 23.63 0 0 1 7.81 1.31l-.63 3.59a16.18 16.18 0 0 0 -7.24-1.48c-4.1 0-8.61 1.71-8.61 6.84 0 8 18.25 8 18.25 19.66 0 8-6.9 11.24-13.06 11.24a22.71 22.71 0 0 1 -9-1.71z" />
                    <path d="m110.75 1h3.93v39.78h-3.93z" />
                    <path d="m136.57 4.41h-11.74v-3.41h27.42v3.41h-11.75v36.37h-3.93z" />
                    <path
                        d="m163.36 1h10.26c7.07 0 11.69 3 11.69 10.32 0 5.13-3.94 8.55-8.84 9.18v.11c3.19.4 3.88 2.11 5.13 4.79l6.79 15.39h-4.34l-5.75-13.46c-2.28-5.13-4-5.3-7.76-5.3h-3.25v18.75h-3.93zm3.93 17.62h4.17c4.61 0 9.91-1.77 9.91-7.3 0-6.5-4.61-6.9-10-6.9h-4.05z" />
                    <path d="m199.5 1h19.5v3.41h-15.57v14.2h14.77v3.39h-14.77v15.36h16.25v3.42h-20.18z" />
                    <path d="m232.39 1h3.93v36.36h16v3.42h-19.93z" />
                    <path
                        d="m296.63 1h4.44l15.79 39.79h-4.1l-4.28-10.66h-20.06l-4.28 10.66h-3.82zm1.93 3.76-8.66 22h17.27z" />
                    <path
                        d="m350.89 22.65h-9.23v-3.42h13.17v19.77a29.76 29.76 0 0 1 -12.37 2.46c-12.55 0-20.07-8.27-20.07-20.58 0-12.08 7.75-20.57 20.07-20.57 3 0 8 .51 10.66 1.88l-.46 3.65c-3.08-1.71-6.73-2.11-10.2-2.11-10.32 0-16.14 7.29-16.14 17.16 0 10 5.65 17.16 16.14 17.16 2.45 0 6.55-.29 8.43-1.43z" />
                    <path d="m2.12 54.7h7.18v1.3h-5.73v5.23h5.43v1.26h-5.43v5.61h6v1.26h-7.45z" />
                    <path d="m12.7 53.61h1.3v15.75h-1.3z" />
                    <path
                        d="m24.78 69a8.76 8.76 0 0 1 -3.11.59c-3.55 0-4.87-2.4-4.87-5.61s1.8-5.61 4.51-5.61c3 0 4.27 2.44 4.27 5.32v.67h-7.33c0 2.27 1.22 4.09 3.52 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.76-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                    <path d="m28.33 53.61h1.32v9.39l4.79-4.39h1.7l-5.23 4.74 5.86 6h-1.83l-5.29-5.51v5.51h-1.32z" />
                    <path
                        d="m43.66 59.78h-2.44v6.93c0 1 .36 1.76 1.43 1.76a3 3 0 0 0 1.22-.25l.13 1.09a4.71 4.71 0 0 1 -1.62.3c-2.38 0-2.48-1.61-2.48-3.61v-6.22h-2.1v-1.13h2.1v-2.59l1.32-.46v3h2.44z" />
                    <path
                        d="m46.26 61a20.12 20.12 0 0 0 -.08-2.39h1.32v2.06a3.19 3.19 0 0 1 2.75-2.32 4.09 4.09 0 0 1 .93.13v1.39a3.3 3.3 0 0 0 -1-.13c-2.1 0-2.67 2.35-2.67 4.28v5.3h-1.25z" />
                    <path d="m54.79 55.79h-1.33v-1.79h1.33zm-1.33 2.86h1.33v10.71h-1.33z" />
                    <path
                        d="m57.54 67.8a6.28 6.28 0 0 0 2.79.67c1.26 0 2.37-.69 2.37-1.91 0-2.54-5.14-2.14-5.14-5.25 0-2.12 1.72-2.92 3.48-2.92a8.38 8.38 0 0 1 2.65.49l-.13 1.12a6.29 6.29 0 0 0 -2.37-.5c-1.36 0-2.31.42-2.31 1.78 0 2 5.27 1.75 5.27 5.25 0 2.27-2.12 3-3.74 3a8.06 8.06 0 0 1 -3-.51z" />
                    <path
                        d="m73.73 60.07a6.21 6.21 0 0 0 -2.29-.54c-2.58 0-4 1.87-4 4.47 0 2.44 1.47 4.47 3.88 4.47a7 7 0 0 0 2.39-.47l.12 1.24a8 8 0 0 1 -2.75.38c-3.44-.01-5.08-2.62-5.08-5.62 0-3.29 2.12-5.61 5.29-5.61a8.18 8.18 0 0 1 2.58.42z" />
                    <path
                        d="m76.31 53.61h1.32v6.84h.05a3.63 3.63 0 0 1 3.32-2.06c2.88 0 3.66 1.92 3.66 4.56v6.41h-1.31v-6.36c0-1.84-.36-3.44-2.55-3.44-2.35 0-3.17 2.22-3.17 4.09v5.74h-1.32z" />
                    <path
                        d="m95.4 69a8.72 8.72 0 0 1 -3.11.59c-3.55 0-4.87-2.4-4.87-5.61s1.81-5.61 4.51-5.61c3 0 4.27 2.44 4.27 5.32v.67h-7.33c0 2.27 1.22 4.09 3.53 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.76-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                    <path
                        d="m115.75 62.68h-3.4v-1.26h4.85v7.28a10.84 10.84 0 0 1 -4.56.91c-4.62 0-7.39-3-7.39-7.58s2.86-7.58 7.39-7.58a10.44 10.44 0 0 1 3.93.69l-.17 1.34a7.71 7.71 0 0 0 -3.76-.77c-3.8 0-5.94 2.68-5.94 6.32s2.08 6.32 5.94 6.32a7.46 7.46 0 0 0 3.11-.53z" />
                    <path
                        d="m128.14 69a8.76 8.76 0 0 1 -3.11.59c-3.55 0-4.87-2.4-4.87-5.61s1.81-5.61 4.51-5.61c3 0 4.27 2.44 4.27 5.32v.67h-7.33c0 2.27 1.22 4.09 3.53 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.76-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                    <path
                        d="m131.56 53.61h1.33v6.84a3.62 3.62 0 0 1 3.34-2.06c3.14 0 4.4 2.36 4.4 5.61s-1.46 5.61-4.4 5.61a3.42 3.42 0 0 1 -3.34-2v1.71h-1.33zm4.5 5.92c-2.42 0-3.17 2.52-3.17 4.47s.81 4.47 3.17 4.47c2.52 0 3.17-2.39 3.17-4.47s-.65-4.47-3.17-4.47z" />
                    <path
                        d="m149.75 67.63a3.78 3.78 0 0 1 -3.41 2c-3 0-3.52-2.06-3.52-3 0-3.59 3.82-3.75 6.59-3.75h.25v-.55c0-1.83-.65-2.75-2.43-2.75a5.65 5.65 0 0 0 -3.15.88v-1.33a8.36 8.36 0 0 1 3.15-.74c2.64 0 3.75 1.2 3.75 4v4.72a14.62 14.62 0 0 0 .11 2.25h-1.3zm-.13-3.63h-.38c-2.29 0-5 .23-5 2.58 0 1.41 1 1.93 2.22 1.93 3.11 0 3.17-2.7 3.17-3.86zm-5-8.86h1.58v1.76h-1.6zm3.59 0h1.58v1.76h-1.58z" />
                    <path
                        d="m162.68 66.84a24.15 24.15 0 0 0 .09 2.52h-1.28v-1.92h-.05a3.38 3.38 0 0 1 -3.44 2.17c-2.65 0-3.65-1.77-3.65-4.12v-6.84h1.32v6.51c0 2 .71 3.31 2.54 3.31 2.41 0 3.17-2.12 3.17-3.9v-5.92h1.32z" />
                    <path
                        d="m174.72 69.36h-1.33v-1.71a3.43 3.43 0 0 1 -3.34 2c-2.94 0-4.41-2.44-4.41-5.61s1.26-5.61 4.41-5.61a3.62 3.62 0 0 1 3.34 2.06v-6.88h1.33zm-4.5-.89c2.35 0 3.17-2.52 3.17-4.47s-.82-4.47-3.17-4.47c-2.52 0-3.17 2.39-3.17 4.47s.65 4.47 3.17 4.47z" />
                    <path
                        d="m185.32 69a8.72 8.72 0 0 1 -3.11.59c-3.55 0-4.87-2.4-4.87-5.61s1.81-5.61 4.52-5.61c3 0 4.26 2.44 4.26 5.32v.67h-7.33c0 2.27 1.22 4.09 3.53 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.76-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                    <path
                        d="m188 67.8a6.28 6.28 0 0 0 2.79.67c1.26 0 2.38-.69 2.38-1.91 0-2.54-5.15-2.14-5.15-5.25 0-2.12 1.72-2.92 3.49-2.92a8.37 8.37 0 0 1 2.64.49l-.09 1.12a6.38 6.38 0 0 0 -2.38-.5c-1.36 0-2.31.42-2.31 1.78 0 2 5.28 1.75 5.28 5.25 0 2.27-2.13 3-3.74 3a8 8 0 0 1 -3-.51z" />
                    <path d="m198.57 55.79h-1.32v-1.79h1.32zm-1.32 2.86h1.32v10.71h-1.32z" />
                    <path
                        d="m209.11 60.07a6.12 6.12 0 0 0 -2.28-.54c-2.59 0-4 1.87-4 4.47 0 2.44 1.47 4.47 3.89 4.47a6.94 6.94 0 0 0 2.41-.48l.13 1.24a8 8 0 0 1 -2.75.38c-3.45 0-5.13-2.63-5.13-5.61 0-3.29 2.13-5.61 5.3-5.61a8.18 8.18 0 0 1 2.58.42z" />
                    <path
                        d="m211.7 53.61h1.3v6.84a3.65 3.65 0 0 1 3.34-2.06c2.88 0 3.65 1.92 3.65 4.56v6.41h-1.32v-6.36c0-1.84-.36-3.44-2.54-3.44-2.35 0-3.17 2.22-3.17 4.09v5.74h-1.26z" />
                    <path
                        d="m230.76 69a8.7 8.7 0 0 1 -3.1.59c-3.55 0-4.87-2.4-4.87-5.61s1.8-5.61 4.51-5.61c3 0 4.26 2.44 4.26 5.32v.67h-7.33c0 2.27 1.22 4.09 3.53 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.75-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                    <path
                        d="m234.29 61a20.12 20.12 0 0 0 -.08-2.39h1.32v2.06a3.2 3.2 0 0 1 2.76-2.32 4.08 4.08 0 0 1 .92.13v1.39a3.25 3.25 0 0 0 -1-.13c-2.1 0-2.66 2.35-2.66 4.28v5.3h-1.33z" />
                    <path
                        d="m241.52 53.61h1.32v6.84a3.65 3.65 0 0 1 3.34-2.06c2.88 0 3.65 1.92 3.65 4.56v6.41h-1.32v-6.36c0-1.84-.36-3.44-2.54-3.44-2.35 0-3.17 2.22-3.17 4.09v5.74h-1.32z" />
                    <path
                        d="m260.58 69a8.7 8.7 0 0 1 -3.1.59c-3.55 0-4.87-2.4-4.87-5.61s1.8-5.61 4.51-5.61c3 0 4.26 2.44 4.26 5.32v.67h-7.33c0 2.27 1.22 4.09 3.53 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.75-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                    <path d="m265.44 55.79h-1.33v-1.79h1.33zm-1.33 2.86h1.33v10.71h-1.33z" />
                    <path
                        d="m273.6 59.78h-2.43v6.93c0 1 .36 1.76 1.43 1.76a3 3 0 0 0 1.21-.25l.09 1.09a4.76 4.76 0 0 1 -1.62.3c-2.35 0-2.43-1.62-2.43-3.57v-6.26h-2.1v-1.13h2.1v-2.59l1.32-.46v3h2.43z" />
                    <path
                        d="m275.37 67.8a6.28 6.28 0 0 0 2.79.67c1.26 0 2.37-.69 2.37-1.91 0-2.54-5.14-2.14-5.14-5.25 0-2.12 1.72-2.92 3.49-2.92a8.37 8.37 0 0 1 2.64.49l-.12 1.12a6.38 6.38 0 0 0 -2.38-.5c-1.36 0-2.31.42-2.31 1.78 0 2 5.27 1.75 5.27 5.25 0 2.27-2.12 3-3.73 3a8.08 8.08 0 0 1 -3-.51z" />
                    <path
                        d="m283.75 67.8a6.28 6.28 0 0 0 2.79.67c1.26 0 2.37-.69 2.37-1.91 0-2.54-5.14-2.14-5.14-5.25 0-2.12 1.72-2.92 3.48-2.92a8.38 8.38 0 0 1 2.65.49l-.13 1.12a6.29 6.29 0 0 0 -2.37-.5c-1.36 0-2.31.42-2.31 1.78 0 2 5.27 1.75 5.27 5.25 0 2.27-2.12 3-3.74 3a8.06 8.06 0 0 1 -3-.51z" />
                    <path
                        d="m296 67.57 3.09-8.92h1.38l-4.31 12.35c-.51 1.47-1.26 2.94-2.75 2.94a6 6 0 0 1 -1.43-.17l.13-1.13a2.74 2.74 0 0 0 1 .17c1.14 0 1.51-1 1.93-2.33l.28-1-3.8-10.83h1.48z" />
                    <path
                        d="m301.7 67.8a6.32 6.32 0 0 0 2.8.67c1.25 0 2.37-.69 2.37-1.91 0-2.54-5.15-2.14-5.15-5.25 0-2.12 1.72-2.92 3.49-2.92a8.32 8.32 0 0 1 2.64.49l-.12 1.12a6.33 6.33 0 0 0 -2.37-.5c-1.37 0-2.31.42-2.31 1.78 0 2 5.27 1.75 5.27 5.25 0 2.27-2.12 3-3.74 3a8 8 0 0 1 -3-.51z" />
                    <path
                        d="m315.54 59.78h-2.44v6.93c0 1 .36 1.76 1.43 1.76a3 3 0 0 0 1.22-.25l.08 1.09a4.65 4.65 0 0 1 -1.61.3c-2.35 0-2.44-1.62-2.44-3.57v-6.26h-2.1v-1.13h2.1v-2.59l1.32-.46v3h2.44z" />
                    <path
                        d="m325.3 69a8.7 8.7 0 0 1 -3.1.59c-3.55 0-4.87-2.4-4.87-5.61s1.8-5.61 4.51-5.61c3 0 4.26 2.44 4.26 5.32v.67h-7.33c0 2.27 1.22 4.09 3.53 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.75-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                    <path
                        d="m341.77 69.36v-7.12c0-1.51-.57-2.71-2.27-2.71-1.45 0-2.88 1.24-2.88 3.9v5.93h-1.32v-7.12c0-1.51-.57-2.71-2.27-2.71-1.45 0-2.87 1.24-2.87 3.9v5.93h-1.33v-8.19c0-.82 0-1.66-.08-2.52h1.25v1.8a3.37 3.37 0 0 1 3.34-2.08 2.7 2.7 0 0 1 2.84 2.27 3.59 3.59 0 0 1 3.42-2.27 3.27 3.27 0 0 1 3.38 3.6v7.37z" />
                    <path
                        d="m353.74 69a8.72 8.72 0 0 1 -3.11.59c-3.55 0-4.87-2.4-4.87-5.61s1.81-5.61 4.51-5.61c3 0 4.27 2.44 4.27 5.32v.67h-7.33c0 2.27 1.22 4.09 3.53 4.09a7 7 0 0 0 3-.79zm-.65-5.77c0-1.87-.76-3.72-2.73-3.72s-3.15 1.95-3.15 3.72z" />
                </g>
            </svg>
        </a>

        <div class="headerTel">
            <a class="telefonlink" href="tel:+41525505555">Schaffhausen +41 52 550 55-55</a><br />
            <a class="telefonlink" href="tel:+41525505575">Basel -75</a> / <a class="telefonlink" href="tel:+41525505585">Bern -85</a>
        </div>
        <div id="homeArrow"></div>

        <nav class="mainNav">
            <h2 class="outline">You can navigate. This headline doesn't show!</h2>
            <ul id="navSlide">
                <f:format.raw>{mainMenu}</f:format.raw>
            </ul>
        </nav>

        <div id="headerBtns">
            <div id="hotlineBtn">STÖRUNGS-HOTLINE</div>
            <div id="contact"><a href="/unternehmen/kontakt"
                    title="Hier kommen Sie zu einer Lagekarte und zum Kontaktformular.">KONTAKT</a></div>
        </div>
        <f:format.raw>{form}</f:format.raw>

    </div>
    <!--END center DIV -->
</header>
<!--END Logo and nav-->
<!--mobile menu btn-->
<a class="open" href="#navSlide"><img id="mobMenu" src="fileadmin/Resources/Public/Icons/menue-button.svg" width="50"
        height="50" alt="mobile menu button" /></a>
<!--END mobile menu btn-->

    <!--Main Content-->
<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />

<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}" />

<!--Footer-->
<nav class="bottomNav clearfix">
    <div class="wrapper">
        <div id="rootlineNav">
            <f:format.raw>{rootlineNav}</f:format.raw>
        </div>
        <div id="socialMedia">
            <f:format.raw>{socialNet}</f:format.raw>
        </div>
    </div><!-- END center DIV -->
</nav>
<!--END bottomNavBar-->

<footer class="mainFooter clearfix">
    <h2 class="outline">This is the Headline of the footer but will not be shown.</h2>
    <div class="wrapper">
        <div class="footerLeft">
            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                <svg id="logoFooter" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 462.1 73.9">
                    <defs>
                        <style>
                            .a9ad325f-9a3e-46a8-9d70-8e7c79a644ae {
                                fill: #107c30;
                            }

                            .f5d6b40e-2cbc-45eb-aa15-1defe42e7944 {
                                fill: #ec6608;
                            }

                            .fb2a52da-7e1c-4f63-ab33-112ec74169ae {
                                fill: #e30613;
                            }

                            .b097f391-219e-4eed-9951-dd3849d0984b {
                                fill: #fff;
                            }

                            .aa6302e1-2c62-4ca6-8aa6-9da85a09c9cc,
                            .b097f391-219e-4eed-9951-dd3849d0984b {
                                fill-rule: evenodd;
                            }

                            .aa6302e1-2c62-4ca6-8aa6-9da85a09c9cc,
                            .b83af38e-627d-4952-8511-4d37e3f0d76e {
                                fill: #1d1d1b;
                            }
                        </style>
                    </defs>
                    <title>Zeichenfläche 1</title>
                    <rect class="a9ad325f-9a3e-46a8-9d70-8e7c79a644ae" x="428.1" width="34" height="34" />
                    <rect class="f5d6b40e-2cbc-45eb-aa15-1defe42e7944" x="428.1" y="36.9" width="34" height="34" />
                    <rect class="fb2a52da-7e1c-4f63-ab33-112ec74169ae" x="391.3" width="34" height="34" />
                    <path class="b097f391-219e-4eed-9951-dd3849d0984b"
                        d="M425.3,53.9a17,17,0,1,1-17-17h0a17,17,0,0,1,17,17" />
                    <path class="aa6302e1-2c62-4ca6-8aa6-9da85a09c9cc"
                        d="M415.4,54a7,7,0,1,1-6.9-7h0a7.14,7.14,0,0,1,6.9,7h0" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M28.5,22.7H19.3V19.3H32.5V39a30.88,30.88,0,0,1-12.4,2.5C7.5,41.5,0,33.2,0,20.9,0,8.8,7.8.3,20.1.3c3,0,8,.5,10.7,1.9l-.5,3.7A21,21,0,0,0,20.1,3.8C9.8,3.7,3.9,11,3.9,20.9S9.5,38.1,20,38.1c2.5,0,6.5-.3,8.4-1.4v-14Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M46.1,1H65.6V4.4H50V18.6H64.8V22H50V37.4H66.2v3.4H46.1Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M76.7,35.7A15.9,15.9,0,0,0,85.5,38c4.9,0,9-2.5,9-8.2,0-7.8-18.2-8.8-18.2-19.2C76.2,4.3,81.7.3,88.8.3a22.81,22.81,0,0,1,7.8,1.3L96,5.2a16.34,16.34,0,0,0-7.2-1.5c-4.1,0-8.6,1.7-8.6,6.8,0,8,18.2,8,18.2,19.7,0,8-6.9,11.2-13.1,11.2a23.22,23.22,0,0,1-9-1.7Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e" d="M110.8,1h3.9V40.8h-3.9Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M136.6,4.4H124.9V1h27.4V4.4H140.5V40.8h-3.9Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M163.4,1h10.3c7.1,0,11.7,3,11.7,10.3,0,5.1-3.9,8.5-8.8,9.2v.1c3.2.4,3.9,2.1,5.1,4.8l6.8,15.4h-4.3l-5.8-13.5c-2.3-5.1-4-5.3-7.8-5.3h-3.2V40.8h-3.9Zm3.9,17.6h4.2c4.6,0,9.9-1.8,9.9-7.3,0-6.5-4.6-6.9-10-6.9h-4.1Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M199.5,1H219V4.4H203.4V18.6h14.8V22H203.4V37.4h16.2v3.4H199.4V1Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e" d="M232.4,1h3.9V37.4h16v3.4H232.4Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M296.6,1H301l15.8,39.8h-4.1l-4.3-10.7H288.3L284,40.8h-3.8Zm2,3.8-8.7,22h17.3Z" />
                    <path class="b83af38e-627d-4952-8511-4d37e3f0d76e"
                        d="M350.9,22.7h-9.2V19.3h13.2V39a30.88,30.88,0,0,1-12.4,2.5c-12.5,0-20.1-8.3-20.1-20.6C322.4,8.8,330.2.3,342.5.3c3,0,8,.5,10.7,1.9l-.5,3.7a21,21,0,0,0-10.2-2.1c-10.3,0-16.1,7.3-16.1,17.2s5.6,17.2,16.1,17.2c2.5,0,6.5-.3,8.4-1.4Z" />
                    <path d="M2.1,54.7H9.3V56H3.6v5.2H9v1.3H3.6v5.6h6v1.3H2.1Z" />
                    <path d="M12.7,53.6H14V69.4H12.7Z" />
                    <path
                        d="M24.8,69a8.15,8.15,0,0,1-3.1.6c-3.5,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7H18.3c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.7-5.8c0-1.9-.8-3.7-2.7-3.7s-3.1,2-3.1,3.7Z" />
                    <path d="M28.3,53.6h1.3V63l4.8-4.4h1.7l-5.2,4.7,5.9,6H35l-5.3-5.5v5.5H28.4V53.6Z" />
                    <path
                        d="M43.7,59.8H41.3v6.9c0,1,.4,1.8,1.4,1.8a5,5,0,0,0,1.2-.2l.1,1.1a4.53,4.53,0,0,1-1.6.3c-2.4,0-2.5-1.6-2.5-3.6V59.9H37.8V58.8h2.1V56.2l1.3-.5v3h2.4Z" />
                    <path
                        d="M46.3,61a19.27,19.27,0,0,0-.1-2.4h1.3v2.1h0a3.09,3.09,0,0,1,2.8-2.3c.3,0,.6.1.9.1v1.4a3.4,3.4,0,0,0-1-.1c-2.1,0-2.7,2.3-2.7,4.3v5.3H46.2V61Z" />
                    <path d="M54.8,55.8H53.5V54h1.3Zm-1.3,2.9h1.3V69.4H53.5Z" />
                    <path
                        d="M57.5,67.8a6.81,6.81,0,0,0,2.8.7c1.3,0,2.4-.7,2.4-1.9,0-2.5-5.1-2.1-5.1-5.2,0-2.1,1.7-2.9,3.5-2.9a8.57,8.57,0,0,1,2.7.5l-.2,1a6.87,6.87,0,0,0-2.4-.5c-1.4,0-2.3.4-2.3,1.8,0,2,5.3,1.8,5.3,5.2,0,2.3-2.1,3-3.7,3a10.47,10.47,0,0,1-3-.5Z" />
                    <path
                        d="M73.7,60.1a5.93,5.93,0,0,0-2.3-.5c-2.6,0-4,1.9-4,4.5,0,2.4,1.5,4.5,3.9,4.5a6.87,6.87,0,0,0,2.4-.5l.1,1.2a8.63,8.63,0,0,1-2.8.4c-3.4-.1-5-2.7-5-5.7,0-3.3,2.1-5.6,5.3-5.6a7.83,7.83,0,0,1,2.6.4Z" />
                    <path
                        d="M76.3,53.6h1.3v6.8h.1A3.63,3.63,0,0,1,81,58.3c2.9,0,3.7,1.9,3.7,4.6v6.4H83.4V63c0-1.8-.4-3.4-2.6-3.4s-3.2,2.2-3.2,4.1v5.7H76.3Z" />
                    <path
                        d="M95.4,69a8.15,8.15,0,0,1-3.1.6c-3.6,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7H88.9c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.6-5.8c0-1.9-.8-3.7-2.7-3.7s-3.2,2-3.2,3.7Z" />
                    <path
                        d="M115.8,62.7h-3.4V61.4h4.8v7.3a11.79,11.79,0,0,1-4.6.9c-4.6,0-7.4-3-7.4-7.6s2.9-7.6,7.4-7.6a10.36,10.36,0,0,1,3.9.7l-.2,1.3a8.38,8.38,0,0,0-3.8-.8c-3.8,0-5.9,2.7-5.9,6.3s2.1,6.3,5.9,6.3a8.08,8.08,0,0,0,3.1-.5v-5Z" />
                    <path
                        d="M128.1,69a8.15,8.15,0,0,1-3.1.6c-3.6,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7h-7.3c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.6-5.8c0-1.9-.8-3.7-2.7-3.7s-3.2,2-3.2,3.7Z" />
                    <path
                        d="M131.6,53.6h1.3v6.8h0a3.63,3.63,0,0,1,3.3-2.1c3.1,0,4.4,2.4,4.4,5.6s-1.5,5.6-4.4,5.6a3.29,3.29,0,0,1-3.3-2h0v1.7h-1.3Zm4.5,5.9c-2.4,0-3.2,2.5-3.2,4.5s.8,4.5,3.2,4.5,3.2-2.4,3.2-4.5S138.6,59.5,136.1,59.5Z" />
                    <path
                        d="M149.8,67.6h0a3.79,3.79,0,0,1-3.4,2c-3,0-3.5-2.1-3.5-3,0-3.6,3.8-3.8,6.6-3.8h.2v-.5c0-1.8-.6-2.8-2.4-2.8a5.61,5.61,0,0,0-3.1.9V59.1a8.7,8.7,0,0,1,3.1-.7c2.6,0,3.8,1.2,3.8,4v4.7a15.48,15.48,0,0,0,.1,2.2h-1.3Zm-.2-3.6h-.4c-2.3,0-5,.2-5,2.6,0,1.4,1,1.9,2.2,1.9,3.1,0,3.2-2.7,3.2-3.9Zm-5-8.9h1.6v1.8h-1.6Zm3.6,0h1.6v1.8h-1.6Z" />
                    <path
                        d="M162.7,66.8a20.9,20.9,0,0,0,.1,2.5h-1.3V67.4h-.1a3.37,3.37,0,0,1-3.4,2.2c-2.6,0-3.6-1.8-3.6-4.1V58.7h1.3v6.5c0,2,.7,3.3,2.5,3.3,2.4,0,3.2-2.1,3.2-3.9V58.7h1.3Z" />
                    <path
                        d="M174.7,69.4h-1.3V67.7h0a3.38,3.38,0,0,1-3.3,2c-2.9,0-4.4-2.4-4.4-5.6s1.3-5.6,4.4-5.6a3.63,3.63,0,0,1,3.3,2.1h0V53.7h1.3Zm-4.5-.9c2.4,0,3.2-2.5,3.2-4.5s-.8-4.5-3.2-4.5S167,61.9,167,64,167.7,68.5,170.2,68.5Z" />
                    <path
                        d="M185.3,69a8.15,8.15,0,0,1-3.1.6c-3.6,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7h-7.3c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.6-5.8c0-1.9-.8-3.7-2.7-3.7s-3.1,2-3.1,3.7Z" />
                    <path
                        d="M188,67.8a6.81,6.81,0,0,0,2.8.7c1.3,0,2.4-.7,2.4-1.9,0-2.5-5.1-2.1-5.1-5.2,0-2.1,1.7-2.9,3.5-2.9a7.51,7.51,0,0,1,2.6.5l-.1,1.1a6.87,6.87,0,0,0-2.4-.5c-1.4,0-2.3.4-2.3,1.8,0,2,5.3,1.8,5.3,5.2,0,2.3-2.1,3-3.7,3a7.89,7.89,0,0,1-3-.5Z" />
                    <path d="M198.6,55.8h-1.3V54h1.3Zm-1.4,2.9h1.3V69.4h-1.3Z" />
                    <path
                        d="M209.1,60.1a5.93,5.93,0,0,0-2.3-.5c-2.6,0-4,1.9-4,4.5,0,2.4,1.5,4.5,3.9,4.5a6.87,6.87,0,0,0,2.4-.5l.1,1.2a8.63,8.63,0,0,1-2.8.4c-3.4,0-5.1-2.6-5.1-5.6,0-3.3,2.1-5.6,5.3-5.6a7.83,7.83,0,0,1,2.6.4Z" />
                    <path
                        d="M211.7,53.6H213v6.8h0a3.63,3.63,0,0,1,3.3-2.1c2.9,0,3.6,1.9,3.6,4.6v6.4h-1.3V63c0-1.8-.4-3.4-2.5-3.4-2.4,0-3.2,2.2-3.2,4.1v5.7h-1.3V53.6Z" />
                    <path
                        d="M230.8,69a8.15,8.15,0,0,1-3.1.6c-3.6,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7h-7.3c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.7-5.8c0-1.9-.8-3.7-2.7-3.7s-3.1,2-3.1,3.7Z" />
                    <path
                        d="M234.3,61a19.27,19.27,0,0,0-.1-2.4h1.3v2.1h0a3.2,3.2,0,0,1,2.8-2.3c.3,0,.6.1.9.1v1.4a3.4,3.4,0,0,0-1-.1c-2.1,0-2.7,2.3-2.7,4.3v5.3h-1.3Z" />
                    <path
                        d="M241.5,53.6h1.3v6.8h0a3.63,3.63,0,0,1,3.3-2.1c2.9,0,3.6,1.9,3.6,4.6v6.4h-1.3V63c0-1.8-.4-3.4-2.5-3.4-2.4,0-3.2,2.2-3.2,4.1v5.7h-1.3Z" />
                    <path
                        d="M260.6,69a8.15,8.15,0,0,1-3.1.6c-3.6,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7h-7.3c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.7-5.8c0-1.9-.8-3.7-2.7-3.7s-3.1,2-3.1,3.7Z" />
                    <path d="M265.4,55.8h-1.3V54h1.3Zm-1.3,2.9h1.3V69.4h-1.3Z" />
                    <path
                        d="M273.6,59.8h-2.4v6.9c0,1,.4,1.8,1.4,1.8a5,5,0,0,0,1.2-.2l.1,1.1a4.53,4.53,0,0,1-1.6.3c-2.4,0-2.4-1.6-2.4-3.6V59.8h-2.1V58.7h2.1V56.1l1.3-.5v3h2.4Z" />
                    <path
                        d="M275.4,67.8a6.81,6.81,0,0,0,2.8.7c1.3,0,2.4-.7,2.4-1.9,0-2.5-5.1-2.1-5.1-5.2,0-2.1,1.7-2.9,3.5-2.9a7.51,7.51,0,0,1,2.6.5l-.1,1.1a6.87,6.87,0,0,0-2.4-.5c-1.4,0-2.3.4-2.3,1.8,0,2,5.3,1.8,5.3,5.2,0,2.3-2.1,3-3.7,3a10.47,10.47,0,0,1-3-.5Z" />
                    <path
                        d="M283.8,67.8a6.81,6.81,0,0,0,2.8.7c1.3,0,2.4-.7,2.4-1.9,0-2.5-5.1-2.1-5.1-5.2,0-2.1,1.7-2.9,3.5-2.9a7.51,7.51,0,0,1,2.6.5l-.1,1.1a6.87,6.87,0,0,0-2.4-.5c-1.4,0-2.3.4-2.3,1.8,0,2,5.3,1.8,5.3,5.2,0,2.3-2.1,3-3.7,3a10.47,10.47,0,0,1-3-.5Z" />
                    <path
                        d="M296,67.6h0l3.1-8.9h1.4L296.2,71c-.5,1.5-1.3,2.9-2.8,2.9a5.9,5.9,0,0,1-1.4-.2l.1-1.1a3.55,3.55,0,0,0,1,.2c1.1,0,1.5-1,1.9-2.3l.3-1-3.8-10.8H293Z" />
                    <path
                        d="M301.7,67.8a6.81,6.81,0,0,0,2.8.7,2.17,2.17,0,0,0,2.4-1.9c0-2.5-5.1-2.1-5.1-5.2,0-2.1,1.7-2.9,3.5-2.9a7.51,7.51,0,0,1,2.6.5l-.1,1.1a6.87,6.87,0,0,0-2.4-.5c-1.4,0-2.3.4-2.3,1.8,0,2,5.3,1.8,5.3,5.2,0,2.3-2.1,3-3.7,3a7.89,7.89,0,0,1-3-.5Z" />
                    <path
                        d="M315.5,59.8h-2.4v6.9c0,1,.4,1.8,1.4,1.8a5,5,0,0,0,1.2-.2l.1,1.1a4.53,4.53,0,0,1-1.6.3c-2.4,0-2.4-1.6-2.4-3.6V59.8h-2.1V58.7h2.1V56.1l1.3-.5v3h2.4Z" />
                    <path
                        d="M325.3,69a8.15,8.15,0,0,1-3.1.6c-3.5,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7h-7.3c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.7-5.8c0-1.9-.8-3.7-2.7-3.7s-3.1,2-3.1,3.7Z" />
                    <path
                        d="M341.8,69.4V62.3c0-1.5-.6-2.7-2.3-2.7-1.5,0-2.9,1.2-2.9,3.9v5.9h-1.3V62.3c0-1.5-.6-2.7-2.3-2.7-1.5,0-2.9,1.2-2.9,3.9v5.9h-1.3V61.2a20.9,20.9,0,0,0-.1-2.5h1.2v1.8h0a3.47,3.47,0,0,1,3.3-2.1,2.64,2.64,0,0,1,2.8,2.3h0a3.69,3.69,0,0,1,3.4-2.3,3.25,3.25,0,0,1,3.4,3.1v7.9Z" />
                    <path
                        d="M353.7,69a8.15,8.15,0,0,1-3.1.6c-3.5,0-4.9-2.4-4.9-5.6s1.8-5.6,4.5-5.6c3,0,4.3,2.4,4.3,5.3v.7h-7.3c0,2.3,1.2,4.1,3.5,4.1a6.41,6.41,0,0,0,3-.8Zm-.6-5.8c0-1.9-.8-3.7-2.7-3.7s-3.1,2-3.1,3.7Z" />
                </svg>
            </a>
            <div class="footerLeftBottom">
                <address class="addressOne" >
                    <p>
                        Hauptsitz <span itemprop="name">Gesitrel AG</span><br />
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Im Brüel 12</span><br />
                            <span itemprop="postalCode">8207</span> <span itemprop="addressLocality">Schaffhausen<br />
                        Schweiz</span>
                            </span><br />
                        <a class="telefonlink" href="tel:+41525505555">T <span  itemprop="telephone">+41 52 550 55 55</span></a><br />
                        <f:link.email email="info@gesitrel.ch"><span itemprop="email">info(ät)gesitrel.ch</span></f:link.email>
                    </p>
                </address>
                <address class="addressTwo" itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <p>
                        <span itemprop="name">Gesitrel AG<br />NEU: Niederlassung Basel</span><br />
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">Industriestrasse 1</span> <br />
                        <span itemprop="postalCode">4410</span> <span itemprop="addressLocality">Liestal<br />
                        Schweiz</span>
                        </span><br />
                        <a class="telefonlink" href="tel:+41525505575">T <span  itemprop="telephone">+41 52 550 55 75</span></a><br />
                        <f:link.email email="info@gesitrel.ch">info(ät)gesitrel.ch</f:link.email>
                    </p>
                </address>
               <address class="addressThree" itemprop="location" itemscope itemtype="http://schema.org/Place">
                     <p>
                        <span itemprop="name">Gesitrel AG<br />Niederlassung Bern</span><br />
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">Zentweg 9</span><br />
                        <span itemprop="postalCode">3006</span> <span itemprop="addressLocality">Bern<br />
                        Schweiz</span>
                        </span><br />
                        <a class="telefonlink" href="tel:+41525505585">T <span  itemprop="telephone">+41 52 550 55 85</span></a><br />
                        <f:link.email email="info@gesitrel.ch">info(ät)gesitrel.ch</f:link.email>
                    </p>
                </address>
            </div>
        </div><!-- END footer left -->
        <div class="footerRight">
            <ul id="footerNav">
                <f:format.raw>{mainMenu}</f:format.raw>
            </ul>


        </div>
        <f:format.raw>{metaNav}</f:format.raw>
    </div><!-- END center DIV -->
</footer>
<!--END footer-->
</div><!--schema.org organization-->

<div id="shader"></div>
<!--jquery should be on top of all js-->
<script src="{f:uri.resource(path:'JavaScript/jquery-3.2.1.min.js', extensionName:'gesitrelpackage', absolute: '0')}"></script>
