@charset "UTF-8";
/**
* Font - basic Font for the webpage
**/



/* CSS
colors logo
blue-logo: #007bc4;
red-logo: #e30613;
black-logo: #1d1d1b;
orange-logo: #ec6608;
green-logo: #107c30;

www
blue bright: #7fbce1;
darker blue for lines: #009ee3;
footer blue: #007bc4;
light grey: #f6f6f8

*/


/*====================================== FONTS =======================================*/

/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../Fonts/Roboto/roboto-v18-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'), url('../../Fonts/Roboto/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../Fonts/Roboto/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../Fonts/Roboto/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../../Fonts/Roboto/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../Fonts/Roboto/roboto-v18-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../Fonts/Roboto/roboto-v18-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../../Fonts/Roboto/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../Fonts/Roboto/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../Fonts/Roboto/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../../Fonts/Roboto/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../Fonts/Roboto/roboto-v18-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-condensed-300 - latin */

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../../Fonts/RobotoCondensed/roboto-condensed-v16-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../../Fonts/RobotoCondensed/roboto-condensed-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../Fonts/RobotoCondensed/roboto-condensed-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../Fonts/RobotoCondensed/roboto-condensed-v16-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../../Fonts/RobotoCondensed/roboto-condensed-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../Fonts/RobotoCondensed/roboto-condensed-v16-latin-300.svg#RobotoCondensed') format('svg');
    /* Legacy iOS */
}

/* muli-200 - latin */

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: url('../../Fonts/Muli/muli-v12-latin-200.eot');
    /* IE9 Compat Modes */
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'), url('../../Fonts/Muli/muli-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../Fonts/Muli/muli-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../Fonts/Muli/muli-v12-latin-200.woff') format('woff'), /* Modern Browsers */
    url('../../Fonts/Muli/muli-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../Fonts/Muli/muli-v12-latin-200.svg#Muli') format('svg');
    /* Legacy iOS */
}

/* muli-600 - latin */

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    src: url('../../Fonts/Muli/muli-v12-latin-600.eot');
    /* IE9 Compat Modes */
    src: local('Muli SemiBold'), local('Muli-SemiBold'), url('../../Fonts/Muli/muli-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../Fonts/Muli/muli-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../Fonts/Muli/muli-v12-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../../Fonts/Muli/muli-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../Fonts/Muli/muli-v12-latin-600.svg#Muli') format('svg');
    /* Legacy iOS */
}

/* Font Awesome 5*/

@font-face {
    font-family: 'Font Awesome 5 Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../../Fonts/FontAwesome/fa-regular-400.eot");
    src: url("../../Fonts/FontAwesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-regular-400.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-regular-400.woff") format("woff"), url("../../Fonts/FontAwesome/fa-regular-400.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
    font-family: 'Font Awesome 5 Regular';
    font-weight: 400;
}

/*this is the solid version*/

@font-face {
    font-family: 'Font Awesome 5 Solid';
    font-style: normal;
    font-weight: 900;
    src: url("../../Fonts/FontAwesome/fa-solid-900.eot");
    src: url("../../Fonts/FontAwesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-solid-900.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-solid-900.woff") format("woff"), url("../../Fonts/FontAwesome/fa-solid-900.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-solid-900.svg#fontawesome") format("svg");
}

.fas {
    font-family: 'Font Awesome 5 Solid';
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src: url("../../Fonts/FontAwesome/fa-brands-400.eot");
    src: url("../../Fonts/FontAwesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-brands-400.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-brands-400.woff") format("woff"), url("../../Fonts/FontAwesome/fa-brands-400.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-twitter-square::before {
    content: "";
}

.fa-facebook-square::before {
    content: "";
}

.fa-twitter::before {
    content: "";
}

.fa-facebook-f::before,
.fa-facebook::before {
    content: "";
}

.fa-facebook-official::before {
    content: "";
}

.fa-xing::before {
    content: "";
}

.fa-xing-square::before {
    content: "";
}

.fa-google-plus-square::before {
    content: "";
}

.fa-google-plus::before {
    content: "";
}

.fa-google::before {
    content: "";
}

.fa-google-plus-circle::before,
.fa-google-plus-official::before {
    content: "";
}

.fa-linkedin-in::before {
    content: "\f0e1";
}

/*============================ mobile first 320 general stuff ============================================*/

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 100.01%;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #000;
}

body {
    font-size: 1.125em;
    /*18px*/
    line-height: 1.5em;
}

/* apply a border-box layout model to all elements*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    padding-left: 1.5625%;
    /* 5 / 320 */
    padding-right: 1.5625%;
    /* 5 / 320 */
}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.6666666666em;
    /*30px*/
    font-weight: 500;
    line-height: 1.1em;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.38888888em;
    /*25px*/
    margin-top: 1.5em;
    margin-bottom: 0.3em;
    font-weight: 500;
    line-height: 1.1em;
}

p {
    margin-top: 0;
    line-height: 1.5em;
}

h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.166666666em;
    /*21px*/
    font-weight: 500;
    line-height: 1.1em;
    margin-top: 1.2777777em;
    margin-bottom: 0.3em;
}

h4 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.111111111em;
    font-weight: 500;
    line-height: 1.1em;
    margin-top: 1.11111111em;
    margin-bottom: 0.3em;
}

h5,
h6 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1em;
    margin-top: 1em;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    line-height: 1.5em;
}

a,
a:visited {
    color: #000;
}

a:hover {
    color: #1099BF;
}

li {
    line-height: 1.5em;
}

figure {
    padding: 0;
    margin: 0;
}

/* === Helper classes ======*/

.outline {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6 & 7 */
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.clearfix:before {
    content: " ";
    display: table;
}

.hide {
    display: none;
}

.blue {
    color: #009ee3;
}

/*take a light font*/

.fontLight {
    font-weight: 300;
}

.fontBold {
    font-weight: 500;
}

.mail::before {
    font-family: 'Font Awesome 5 Regular';
    font-weight: 400;
    content: '\f0e0  ';
    color: #009ee3;
}

.tel::before {
    font-family: 'Font Awesome 5 Solid';
    content: '\f095  ';
    color: #009ee3;
}






/*======= WRAPPER ===== GENERAL ====== WRAPPER =========== GENERAL ================*/

/*====================== MEDIA QUERIES ======= 480 ==================================*/

@media only screen and (min-width: 480px) {
    .wrapper {
        padding-left: 1.25%;
        /*6px/480px*/
        padding-right: 1.25%;
        /*6px/480px*/
    }
}

/*==================================================== 760 ======================*/

@media only screen and (min-width: 760px) {
    .wrapper {
        padding-left: 2.1052631578947367%;
        /*16px/760px*/
        padding-right: 2.1052631578947367%;
        /*16px/760px*/
    }
    h1 {
        font-size: 1.83333333em;
        /*33px*/
    }
    h2 {
        font-size: 1.66666666em;
        /*30px*/
        margin-top: 1.6666666em;
    }
    h3 {
        font-size: 1.38888888em;
        /*25px*/
        margin-top: 1.388888888em;
    }
}

/*======================================================= 960 ===================*/

@media only screen and (min-width: 960px) {
    .wrapper {
        padding-left: 2.2916666666666665%;
        /* 22 / 960 */
        padding-right: 2.2916666666666665%;
        /* 22 / 960 */
    }
    h1 {
        font-size: 2.055555556em;
        /*37px*/
    }
    h2 {
        font-size: 1.83333333em;
        /*33px*/
        margin-top: 1.83333333em;
    }
    h3 {
        font-size: 1.61111111em;
        /*29px*/
        margin-top: 1.81111111em;
    }
}

/*====================================================== 1254 ====================*/

@media only screen and (min-width: 1254px) {
    .wrapper {
        width: 1198px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .center {
        width: 1198px;
        margin: 0 auto 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    body {
        font-size: 1.1875em;
        /*19px*/
    }
    h1 {
        font-size: 2.105263158em;
        /*40px*/
    }
    h2 {
        font-size: 1.894736842em;
        /*36px*/
        margin-top: 1.894736842em;
    }
    h3 {
        font-size: 1.631578947em;
        /*31px*/
        margin-top: 1.631578947em;
    }
    h4,
    h5,
    h6 {
        font-size: 1.157894737em;
        /*22px*/
        margin-top: 1.157894737em;
    }
}

/*======= 2512 ======= MEDIA QUERIES Headlines only in endless layout not in THIS, this is limited to 1254
@media only screen and (min-width: 2512px) {
body {
   font-size: 1.375em;
   }

h1 {
  font-size: 3.125em;
  }

h2 {
  font-size: 2.1875em;
  }

h3 {
  font-size: 2.375em;
  }

h4, h5, h6 {
  font-size: 1.375em;
  }
}

==== Rand 151-45 = 2396 ==*/

/*==========================================================================
   Print styles
 ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*dieses argument darf nicht in @media stehen*/

@page {
    margin: 5mm;
}


