@charset "UTF-8";
@import url("01-normalize.css");
@import url("03-basic-style.css");
@import url("05-default-template.css");
@import url("06-dce.css");
@import url("07-all-content.css");

/*
zazu.berlin - Film + Digital
Responsive Design – Mobile First - sitepackage for
Author: Thomas Hezel (c) 2022 - 20220406
http://zazu.berlin




/* hhhhhhhhhhhhhhhhhhhhhhhhh HEADER hhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

/*HEADER*/

/*======= 320-NO Q ==== MEDIA QUERIES ======= Rand 5  = 310 ===*/

.mainHeader {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 150px;
    background: #fff;
    position: relative;
    margin-bottom: 0;
    z-index: 80;
    /*
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: solid 1px #eee;
  */
}

#logo {
    width: 100%;
    height: auto;
    margin-top: 0.5em;
}

.headerTel {
    float: right;
    text-align: right;
    font-size: 0.8em;
}

.headerTel a {
    color: #737780;
}

.mainHeader .center {
    position: relative;
}

#homeArrow {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../../Icons/naviArrowCUR.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    /* Center the image */
    display: none;
}

/*mainMenu --- this is the regular menu */

.mainNav {
    position: relative;
    /*for drop down menu*/
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    width: 100%;
    /*seperate line for nav*/
}

.mainNav ul {
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
}

.mainNav ul li {
    float: left;
    text-align: right;
    padding: 0 5px 15px 5px;
}

.no-js .mainNav ul li {
    width: auto;
}

.mainNav li:first-child {
    margin-left: 46%;
    /*change depending on menu length*/
}

.mainNav li:last-child {
    padding-right: 0;
}

.mainNav ul li a:hover {
    color: #7fbce1;
}

/*-- drop down area ---*/

.mainNav ul li ul {
    position: absolute;
    right: 0;
    width: 85%;
    padding-left: 5%;
    padding-right: 5%;
    height: 380px;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.mainNav ul li>ul {
    display: none;
}

.mainNav ul li:hover>ul {
    display: block;
}

.mainNav .nav2 li:first-child {
    margin-left: 0;
}

.mainNav ul.nav2 {
    -moz-column-count: 3;
    -moz-column-gap: 8px;
    -webkit-column-count: 3;
    -webkit-column-gap: 8px;
    column-count: 3;
    column-gap: 8px;
    padding-top: 1em;
    font-size: 0.9em;
}

/* Fix for unbalanced top alignment in Chrome, and Safari less elements then columns TH*/

.mainNav ul.nav2>* {
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
}

.mainNav ul.nav2 li {
    float: none;
    padding-left: 25px;
    font-size: 1.1em;
    line-height: 1.4em;
    display: block;
    text-align: left;
}

.mainNav a:hover {
    font-weight: normal;
}

.mainNav li.current>span:first-child a {
    color: #009ee3;
    /*submenu current link red*/
}

.mainNav li.nav1act {
    background-image: url('../../Icons/naviArrowCUR.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.mainNav .nav2 li {
    background: url('../../Icons/pfeilRechts.svg') no-repeat 0 6px;
}

.js .mainNav {
    display: none;
}

/*======  End mainNav ============*/

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    height: 100%;
    z-index: 999999;
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 25px 10px 10px 10px;
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #2e3438;
    color: #FFF;
    font-size: 0.9em;
}

#pageslide {
    color: #fff;
}

#pageslide ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

#pageslide a,
#pageslide a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

#pageslide a:hover {
    color: #7fbce1;
}

#pageslide span.borderLine {
    display: block;
    width: 100%;
    border-bottom: 1px solid #666666;
    padding: 10px 0;
}

#closeBtn {
    float: right;
    margin-left: 170px;
    cursor: pointer;
}

/*no JS*/

#mobMenu {
    display: none;
}

.js #mobMenu {
    display: inline;
    position: absolute;
    z-index: 91;
    top: 130px;
    left: 1.5625%;
    /* 5 / 320 */
}

#pageslide li.nav1act {
    background: none;
}

#pageslide li.nav2act {
    list-style-image: none;
}

#pageslide li.current>span:first-child a {
    color: #B51C2A;
}

/*================== Header responsive ========================*/

/*======= 480 ========= MEDIA QUERIES HEADER ======= Rand 6 = 460 ===*/

@media only screen and (min-width: 480px) {
    #logo {
        width: 75%;
        margin-bottom: 0.5em;
    }
    .js #mobMenu {
        top: 93px;
        left: 1.25%;
        /*6px/480px*/
    }
}

/*======= 760========= MEDIA QUERIES HEADER ======== Rand 16 = 728 ===*/

@media only screen and (min-width: 760px) {
    #logo {
        width: 65%;
        margin-top: 1.5em;
    }
    .headerTel {
        margin-top: 60px;
    }
    .js #mobMenu {
        top: 125px;
        left: 2.1052631578947367%;
        /*16px/760px*/
    }
}

/*======= 960 ======== MEDIA QUERIES HEADER ======== Rand 22 = 916 ===*/

@media only screen and (min-width: 960px) {
    /* header area */
    .mainHeader {
        min-height: 120px;
        text-align: left;
    }
    /*mainMenu --- this regular menu */
    .js .mainNav {
        display: block;
        text-align: right;
    }
    /*no back to normal for no JS-menu*/
    .mainNav {
        float: right;
    }
    .js #mobMenu {
        display: none;
    }
    #logo {
        width: 300px;
        height: auto;
    }
    body#p1 #homeArrow {
        display: block;
    }
    .headerTel {
        margin-top: 25px;
    }
}

/*======= 1254 ======= MEDIA QUERIES ======== Rand 28 = 1198 ==*/

@media only screen and (min-width: 1254px) {
    #logo {
        left: 0;
        width: 30%;
    }
    .mainNav li:first-child {
        margin-left: 57.4%;
    }
    /*-- drop down area ---*/
    .mainNav ul li ul {
        width: 810px;
    }
    .mainNav ul.nav2 {
        -moz-column-gap: 22px;
        -webkit-column-gap: 22px;
        column-gap: 22px;
    }
    .headerTel {
        margin-top: 35px;
    }
}

/*======= 2512 ======= MEDIA QUERIES HEADER ==== Rand 151-45 = 2396 ==*/

@media only screen and (min-width: 2512px) {}

/*End Header Responsive area without Buttons for hotline*/




/*==============  FORM EXTENSION HOTLINE and KONTAKT button on the side ===========================*/

/* both header buttons */

#headerBtns {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.7em;
    line-height: 1.2em;
    text-align: center;
    color: #fff;
    float: right;
    clear: both;
    margin-top: 0.5em;
    z-index: 21;
}

/*Störungshotline Btn*/

#hotlineBtn {
    float: left;
    background: #009ee3;
    width: 100px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
    z-index: 22;
}

#hotlineBtn:hover {
    color: #0a2c9d;
}

/*gemeldet button*/

#gemeldetBtn {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.7em;
    line-height: 1.2em;
    text-align: center;
    color: #fff;
    float: right;
    clear: right;
    background: url('../../Icons/blinken.gif') no-repeat top left #5b5b5b;
    background-size: cover;
    width: 120px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    margin-right: 85px;
    margin-top: 0.5em;
}

/*contact button*/

#contact {
    float: left;
    background: #009ee3;
    width: 100px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

#contact a {
    color: #fff;
}

#contact a:hover {
    color: #0a2c9d;
}

/*cover the whole website with a shade*/

.shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 20;
}

/*FORM*/

#hotline input[type="checkbox"] {
    display: inline-block;
}

#hotline {
    position: absolute;
    right: 0;
    top: 182px;
    font-size: 0.6em;
    background-color: #f6f6f8;
    z-index: 1000;
    overflow: hidden;
    max-width: 0;
    max-height: 0;
}

/*padding not to hotlien problem max-width*/

.formBody {
    padding: 2em;
    padding-bottom: 3em;
}

#hotline hr {
    background-color: #FFF;
    color: #FFF;
    border: #FFF;
    height: 2px;
}

#hotline a.telLink::before {
    content: '\f095  ';
    font-family: 'Font Awesome 5 Solid';
    color: #E30613;
}

#closeHotline::before {
    content: '\f057';
    font-family: 'Font Awesome 5 Solid';
    color: #7FBCE1;
    cursor: pointer;
    font-size: 2em;
}

#hotline a.telLink {
    font-size: 1.6em;
}

#hotline input,
#hotline textarea {
    width: 240px;
}

#hotline .submit button {
    background-color: #e30613;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}

#hotline .checkbox .help-block {
    display: block;
    margin-top: 5px;
    max-width: 60%;
}

#hotline .add-on {
    margin-top: 10px;
    width: 20px;
}

/*====================== MEDIA QUERIES ======= 480 ==================================*/

@media only screen and (min-width: 480px) {
    #headerBtns {
        clear: none;
        margin-right: 1em;
    }
}

/*==================================================== 760 ======================*/

@media only screen and (min-width: 760px) {
    #headerBtns {
        margin-right: 0;
    }
    /*gemeldet button*/
    #gemeldetBtn {
        clear: none;
        margin-right: 5px;
    }
    .mainHeader {
        padding-bottom: 0;
    }
}

/*======================================================= 960 ===================*/

@media only screen and (min-width: 960px) {
    #headerBtns,
    #gemeldetBtn {
        position: fixed;
        right: -117px;
        top: 252px;
        font-size: 0.8em;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    #gemeldetBtn {
        width: 120px;
        height: 50px;
        top: 459px;
        right: -40px;
    }
    #hotlineBtn {
        width: 170px;
        height: 50px;
        padding-top: 14px;
    }
    #contact {
        width: 110px;
        height: 50px;
        padding-top: 14px;
    }
    #hotline {
        right: 50px;
    }
}

/*======= 1254 ======= MEDIA QUERIES FOOTER ======== Rand 28 = 1198 ==*/

@media only screen and (min-width: 1254px) {
    #headerBtns {
        top: 264px;
    }
    #gemeldetBtn {
        top: 467px;
    }
}

/*==========  END FORM EXTENSION END ALL Header =======================*/
