@charset "UTF-8";
/**
*
* Template for the Default.htm TEMPLATE
* includes
* Breadcrumb NAV as bottomNav
* plus FOOTER of the page
*
* 20220405
**/




/* ffffffffffffffffffff  footer  fffffffffffffffffffffffffffffff */

/* bottom Nav - rootline - social Media */

.bottomNav {
    background-color: #7fbce1;
    font-size: 0.8em;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.bottomNav a {
    color: #fff;
    text-decoration: none;
}

.bottomNav a:hover {
    color: #e30613;
}

#rootlineNav {
    float: left;
    margin-top: 1.5em;
}

/*social Media*/

.socialMedia {
    float: right;
    font-size: 2.5em;
}

/*====== main Footer ===========*/

.mainFooter {
    background-color: #007bc4;
    padding: 1em 0;
    color: #fff;
    font-size: 0.9em;
}

.mainFooter svg {
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.footerLeft,
.footerRight {
    float: left;
    width: 100%;
}

.addressOne,
.addressTwo,
.addressThree {
    float: left;
    clear: both;
    font-style: normal;
    margin-top: 1em;
    line-height: 1.4em;
}

.addressOne p,
.addressTwo p,
.addressThree p {
    line-height: 1.4em;
    margin-left: 1em;
}

footer a.telefonlink {
    color: #fff;
}

footer a:hover {
    color: #7fbce1;
}

/*first level ul*/

#footerNav {
    margin: 3em 0 0 0;
    list-style-type: none;
    padding-left: 1em;
}

#footerNav li a {
    color: #000;
}

#footerNav li {
    margin-top: 1em;
}

#footerNav li:nth-child(1) {
    margin-top: 0;
}

#footerNav li.current>span:first-child a {
    color: #e30613;
}

#footerNav li>ul {
    padding-left: 0;
    list-style-type: none;
}

#footerNav li>ul li {
    padding-left: 14px;
}

#footerNav li>ul li::before {
    content: '';
    display: inline-block;
    margin-left: -1em;
    height: 1em;
    width: 1em;
    background-size: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20' width='20' height='24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ffffff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EElement 1%3C/title%3E%3Cpath class='a' d='M.1,7.7l3.1-3L.1,1.6A.4.4,0,0,1,0,1.3c0-.1,0-.2.1-.2l1-1h.5L5.9,4.4a.4.4,0,0,1,.1.3c0,.1,0,.2-.1.2L1.6,9.2H1.3c-.1,0-.2,0-.2-.1l-1-.9A.4.4,0,0,1,0,8,.4.4,0,0,1,.1,7.7Z'/%3E%3C/svg%3E") no-repeat 5px 6px;
}

#footerNav li>ul li a {
    color: #fff;
}

#footerNav li>ul li {
    margin-top: 0;
}

#footerNav li a:hover {
    color: #7fbce1;
}

#metaNavUl {
    margin: 0;
    float: right;
    list-style: outside none none;
}

#metaNavUl li {
    float: left;
    padding: 0 0 0 1em;
}

#metaNavUl a {
    color: #fff;
}

#metaNavCur {
    color: #e30613;
}

#metaNavUl a:hover {
    color: #7fbce1;
}

/*FOOTER responsive*/

/*======= 480 ========= MEDIA QUERIES FOOTER ======= Rand 6 = 460 ===*/

@media only screen and (min-width: 480px) {
  .addressOne {
    width: 100%;
  }

    .addressTwo,
    .addressThree {
        width: 50%;
        clear: none;
    }
}

/*======= 760========= MEDIA QUERIES FOOTER ======== Rand 16 = 728 ===*/

@media only screen and (min-width: 760px) {
    .footerLeft {
        width: 60%;
        margin-top: 0;
    }
    .footerRight {
        width: 40%;
        margin-top: 3.7em;
    }
    .addressOne p,
     .addressTwo p {
        margin-left: 0;
    }
    .mainFooter svg {
        width: 88%;
    }
}

/*======= 960 ======== MEDIA QUERIES FOOTER ======== Rand 22 = 916 ===*/

@media only screen and (min-width: 960px) {
    .footerLeft {
        width: 40.39301310043668%;
        /*370px/916px*/
        margin-top: 0;
    }
    .footerRight {
        width: 57.42358078602619%;
        /*526px/916px*/
        margin-top: 0;
    }
    .addressTwo,
    .addressThree {
        width: 50%;
    }
    .addressTwo p {
        margin-left: 0;
    }
    .mainFooter svg {
        width: 82%;
    }
    /*--ul---*/
    #footerNav {
        -moz-column-count: 2;
        -moz-column-gap: 8px;
        -webkit-column-count: 2;
        -webkit-column-gap: 8px;
        column-count: 2;
        column-gap: 8px;
        padding-top: 1em;
        margin: 2.45em 0 0 0;
    }
}

/*======= 1254 ======= MEDIA QUERIES FOOTER ======== Rand 28 = 1198 ==*/

@media only screen and (min-width: 1254px) {}

/*======= 2512 ======= MEDIA QUERIES FOOTER ==== Rand 151-45 = 2396 ==*/

@media only screen and (min-width: 2512px) {}

/*END-FOOTER responsive*/

