<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{form}">
        <formvh:form
                object="{form}"
                action="{form.renderingOptions.controllerAction}"
                method="{form.renderingOptions.httpMethod}"
                id="hotline"
                section="{form.identifier}"
                enctype="{form.renderingOptions.httpEnctype}"
                addQueryString="{form.renderingOptions.addQueryString}"
                argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}"
                additionalParams="{form.renderingOptions.additionalParams}"
                additionalAttributes="{formvh:translateElementProperty(element: form, property: 'fluidAdditionalAttributes')}"
        >

<div class="formBody">
  <div id="closeHotline"></div>
 <h2>Sie ben&ouml;tigen Unterst&uuml;tzung?<br />
  Unser Kundendienst ist f&uuml;r Sie da!</h2>
<p>Sie erreichen uns unter der Nummer:</p>
<a href="tel:+41525505555" class="telLink" title="Pikettdienst">+41 52 550 55 55</a>
<hr />
<p>Gerne rufen wir Sie zur&uuml;ck</p>

<f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
            <div class="actions">
                <f:render partial="Form/Navigation" arguments="{form: form}" />
            </div>
        </div><!--end formBody div zazu-->
        </formvh:form>
</formvh:renderRenderable>
</html>
