{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap powermail_fieldwrap_type_check powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<span class="headerLabel"><f:render partial="Form/FieldLabel" arguments="{_all}" /></span><!--zazu span-->

	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:for each="{field.modifiedSettings}" as="setting" iteration="index">
			<div class="{settings.styles.framework.checkClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}">

					<f:form.checkbox
							property="{field.marker}."
							value="{setting.value}"
							checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
							id="powermail_field_{field.marker}_{index.cycle}"
							additionalAttributes="{vh:validation.validationDataAttribute(field:field, iteration:index)}"
							class="powermail_checkbox powermail_checkbox_{field.uid}" />
<f:comment>zazu circle</f:comment>
                    <label for="powermail_field_{field.marker}_{index.cycle}" class="gesitrel_{index.cycle}"><span class="checkSymbol"></span><span class="gesitrelSymbol"></span>&nbsp;<span class="labelTxt"><vh:string.escapeLabels>{setting.label}</vh:string.escapeLabels></span></label>
			</div>
		</f:for>

		<f:if condition="{settings.validation.client}">
			<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
		</f:if>
	</div>
</div>
