{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap powermail_fieldwrap_type_textarea powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    <div class="mailIconTxt"></div><!--zazu-->

	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:form.textarea
				cols="20"
				rows="5"
				id="powermail_field_{field.marker}"
				property="{field.marker}"
				placeholder="{field.placeholder}"
				value="{vh:misc.prefillField(field:field, mail:mail)}"
				additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
				class="powermail_textarea {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}" />
		</div>
        <!--zazu label down-->
        <f:render partial="Form/FieldLabel" arguments="{_all}" />
</div>
