<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
    data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
  =====================
    News/Detail.html
         zazu changed 20170426/20200519 / added: 2 x div / 1 x article
-->

<f:section name="content">
  <f:if condition="{newsItem}">
    <f:then>

<div class="news-single-item wrapper clearfix">
<div class="center">
<div class="newsCont">

      <n:format.nothing>
        <n:excludeDisplayedNews newsItem="{newsItem}" />
        <f:if condition="{newsItem.alternativeTitle}">
          <f:then>
            <n:titleTag>
              <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
            </n:titleTag>
          </f:then>
          <f:else>
            <n:titleTag>
              <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
            </n:titleTag>
          </f:else>
        </f:if>
        <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
      </n:format.nothing>
      <f:if condition="{settings.detail.showPrevNext}">
        <n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
          <f:if condition="{paginated}">
            <ul class="pager">
              <f:if condition="{paginated.prev}">
                <li class="previous">
                  <n:link newsItem="{paginated.prev}" settings="{settings}">
                    <span aria-hidden="true">&larr; </span>{paginated.prev.title}
                  </n:link>
                </li>
              </f:if>
              <f:if condition="{paginated.next}">
                <li class="next">
                  <n:link newsItem="{paginated.next}" settings="{settings}" class="next">
                    {paginated.next.title} <span aria-hidden="true"> &rarr;</span>
                  </n:link>
                </li>
              </f:if>
            </ul>
          </f:if>
        </n:simplePrevNext>
      </f:if>
      <div class="header">
        <h3 itemprop="headline">{newsItem.title}</h3>
      </div>
      <div class="footer">
        <p>
          <!-- date -->
          <span class="news-list-date">
            <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
              <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
              <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
            </time>
          </span>

          <f:if condition="{newsItem.categories}">
            <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
          </f:if>

          <f:if condition="{newsItem.tags}">
            <!-- Tags -->
            <span class="news-list-tags" itemprop="keywords">
            <f:for each="{newsItem.tags}" as="tag">
              {tag.title}
            </f:for>
            </span>
          </f:if>

          <f:if condition="{newsItem.author}">
            <!-- author -->
            <span class="news-list-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
              <f:translate key="author_simple" /> <span itemprop="name">{newsItem.author}</span>
            </span>
          </f:if>
        </p>
      </div>
      <n:renderMedia news="{newsItem}" imgClass="img-responsive" videoClass="video-wrapper" audioClass="audio-wrapper">
        <f:if condition="{newsItem.teaser}">
          <!-- teaser -->
          <div class="teaser-text" itemprop="description">
            <f:format.html>{newsItem.teaser}</f:format.html>
          </div>
        </f:if>

        <f:if condition="{newsItem.contentElements}">
          <!-- content elements -->
          <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
        </f:if>

        <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />

        <!-- main text -->
        <div class="news-text-wrap" itemprop="articleBody">
          <f:format.html>{newsItem.bodytext}</f:format.html>


        </div>
      </n:renderMedia>

      <f:if condition="{settings.backPid}">
        <!-- Link Back moved in here zazu-->
        <div class="news-backlink-wrap">
            <f:link.page pageUid="{settings.backPid}">
              <f:translate key="back-link" />
            </f:link.page>
        </div>
    </f:if>

      <f:if condition="{settings.detail.showSocialShareButtons}">
        <f:comment>
          Care about the privacy of your readers?
          Checkout https://typo3.org/extensions/repository/view/rx_shariff
          and it will be used automatically!
        </f:comment>
        <n:extensionLoaded extensionKey="rx_shariff">
          <f:render partial="Detail/Shariff" />
        </n:extensionLoaded>
      </f:if>

     <!--deleted error code n:viewhelper, compare copy-->

      <!-- related things -->
      <div class="news-related-wrap">

        <f:if condition="{newsItem.allRelatedSorted}">
          <!-- Related news records -->
          <div class="news-related news-related-news">
            <h4>
              <f:translate key="related-news" />
            </h4>
            <ul>
              <f:for each="{newsItem.allRelatedSorted}" as="related">
                <li>
                  <span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
                  <n:link newsItem="{related}" settings="{settings}" title="{related.title}">
                    {related.title}
                  </n:link>
                </li>

              </f:for>
            </ul>
          </div>
        </f:if>

        <f:if condition="{newsItem.relatedFiles}">
          <!-- related files -->
          <div class="news-related news-related-files">
            <h4>
              <f:translate key="related-files" />
            </h4>
            <ul>
              <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                <li>
                  <span class="news-related-files-link">
                    <a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
                      {f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
                    </a>
                  </span>
                  <span class="news-related-files-size">
                    {relatedFile.originalResource.size -> f:format.bytes()}
                  </span>
                </li>
              </f:for>
            </ul>
          </div>
        </f:if>

        <f:if condition="{newsItem.relatedLinks}">
          <!-- Related links -->
          <div class="news-related news-related-links">
            <h4>
              <f:translate key="related-links" />
            </h4>
            <ul>
              <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                <li>
                  <f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.page>
                  <f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
                </li>
              </f:for>
            </ul>
          </div>
        </f:if>
      </div>

      <!--zazu schema.org-->
      <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content="Gesitrel AG" />
      </div>


<f:comment>vorher nachher Nachricht</f:comment>
<n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
<ul class="prev-next">
<f:if condition="{paginated.next}">
<li class="next">vorherige Nachricht:
<n:link newsItem="{paginated.next}" settings="{settings}">
{paginated.next.title}
</n:link>
</li>
</f:if>
<f:if condition="{paginated.prev}">
<li class="previous">nächste Nachricht:
<n:link newsItem="{paginated.prev}" settings="{settings}">
{paginated.prev.title}
</n:link>
</li>
</f:if>
</ul>
</n:simplePrevNext>

  <!--3x end zazu-->
  </div>
 </div>
 </div>

    </f:then>
    <f:else></f:else>



  </f:if>
</f:section>
</html>

