<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--Templates/News/List.html changed zazu 20181107-->


<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>

            <f:comment>The wrapper-class only for not-latest - here open the Div's</f:comment>
            <f:if condition="{settings.templateLayout} != 10 && {settings.templateLayout} != 11">
                <div class="news-list-container wrapper clearfix news-list-view"
                    id="news-container-{contentObjectData.uid}">
                    <div class="center">
                        <div class="news-list-all">
            </f:if>

            <f:if condition="{settings.hidePagination}">
                <f:then>
                    <f:comment>Hier kommt die neue For-Schleife für nicht paginierte News.</f:comment>
                    <div class="flexslider">
                        <ul class="slides">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:if condition="{settings.templateLayout} == 10">
                                    <f:then>
                                        <f:render partial="List/ItemBrowseList"
                                            arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </f:then>
                                    <f:else>
                                        <f:render partial="List/Item"
                                            arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </f:else>
                                </f:if>
                            </f:for>
                        </ul>
                    </div>
                </f:then>
                <f:else>
                    <div class="news-zazu-list">

                        <f:comment>Hier kommt die neue For-Schleife nur für paginated.</f:comment>


                        <f:if condition="{settings.list.paginate.insertAbove}">
                            <f:render partial="List/Pagination"
                                arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>


                        <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">

                            <f:switch expression="{settings.templateLayout}">
                                <f:case value="10">
                                    <f:render partial="List/ItemBrowseList"
                                        arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:case>
                                <f:case value="11">
                                    <f:render partial="List/downloadItem"
                                        arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:case>
                                <f:defaultCase>
                                    <f:render partial="List/Item"
                                        arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:defaultCase>
                            </f:switch>

                        </f:for>


                        <f:if condition="{settings.list.paginate.insertBelow}">
                            <f:render partial="List/Pagination"
                                arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>



                    </div>
                </f:else>
            </f:if>


            <f:if condition="{settings.templateLayout} != 10 && {settings.templateLayout} != 11">
                </div>
            </f:if>

            <f:comment>here should be 2 closing divs for layout 11 because of case now news in category they go in a html element outside</f:comment>

        </f:then>
        <f:else>
            <div class="no-news-found wrapper clearfix">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>

    <!--TYPO3SEARCH_begin-->
</f:section>

</html>
