<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/SearchForm.html changed – zazu-Berlin 20181122
-->

<f:section name="content">
	<div class="news-search-form">
		<f:form object="{search}" name="search" pageUid="{settings.listPid}">
			<fieldset>
				<div class="form-group">
					<label for="news-subject"><f:translate key="search-subject" /></label>
					<f:form.textfield id="news-subject" property="subject" class="form-control"/>
				</div>

				<f:form.submit value="{f:translate(key:'search-start')}" class="btn btn-default"/>
			</fieldset>
		</f:form>
	</div>
</f:section>
</html>