<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/SearchResult.html  - changed zazu-Berlin 20181122
-->

<f:section name="content">
	<div class="news-search-result">
		<f:if condition="{search}">
			<f:if condition="{news}">
				<f:then>
					<div class="count-msg">
						<f:translate key="search-text" arguments="{0:'{f:count(subject:news)}',1:search.subject}" />
					</div>
					<f:for each="{news}" as="newsItem">
						<f:render partial="List/downloadItem" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}" />
					</f:for>
                    <p class="endeSuche">Ende der Suchergebnisse</p>
				</f:then>
				<f:else>
					<div class="no-news-found">
						<f:translate key="search-noresult" />
					</div>
				</f:else>

			</f:if>
		</f:if>

	</div>
</f:section>
</html>
