<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/downloadItem.html  zazudesign Berlin 20181121 20220405 schema.org brand
-->
<div class="downLd-news article clearfix {f:if(condition: newsItem.istopnews, then: ' topnews')}" itemprop="brand" itemscope itemtype="https://schema.org/Brand">
    <n:excludeDisplayedNews newsItem="{newsItem}" />


    <f:if condition="{newsItem.mediaPreviews}">
        <!-- media preview element -->
        <f:then>
            <div class="news-img-wrap">

                <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                    <f:if condition="{mediaElement.originalResource.type} == 2">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                            alt="{mediaElement.originalResource.alternative}"
                            maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                            maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" additionalAttributes='{0:itemprop="image"}' />
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 4">
                        <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 5">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                            alt="{mediaElement.originalResource.alternative}"
                            maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                            maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                    </f:if>
                </f:alias>

            </div>
        </f:then>
        <f:else>
            <f:if condition="{settings.displayDummyIfNoMedia}">
                <div class="news-img-wrap">
                    <span class="no-media-element">

                        <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                            maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                            maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />

                    </span>
                </div>
            </f:if>
        </f:else>
    </f:if>
    <div class="downloadTxt">
        <!-- header -->
        <div class="header">
            <h3>

                <span itemprop="name">{newsItem.title}</span>

            </h3>
        </div>

        <!-- related files -->

        <f:if condition="{newsItem.relatedFiles}">
            <!-- related files -->
            <div class="newsDownloadLink">

                <ul>
                    <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                        <li>
                            <span class="news-related-files-link">
                                <a itemprop="url" href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}"
                                    target="_blank">
                                    {f:if(condition:relatedFile.originalResource.title,
                                    then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
                                </a>
                            </span>
                            <f:format.raw>&nbsp;</f:format.raw><span class="news-related-files-size">
                                {relatedFile.originalResource.size -> f:format.bytes()}
                            </span>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>


        <!-- teaser -->
        <div class="downloadTeaser">
            <n:removeMediaTags>
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:then>
                    <f:else>
                        <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:else>
                </f:if>
            </n:removeMediaTags>


        </div>

        <!-- footer information -->
        <div class="footer">
            <p>

                <f:if condition="{newsItem.firstCategory}">
                    <!-- first category -->
                    – <span class="news-list-category">{newsItem.firstCategory.title}</span>
                </f:if>

                <f:if condition="{newsItem.tags}">
                    <!-- Tags -->
                    <span class="news-list-tags" itemprop="keywords">
                        <f:for each="{newsItem.tags}" as="tag">
                            {tag.title}
                        </f:for>
                    </span>
                </f:if>


            </p>
        </div>
    </div>
    <hr class="clearfix" />
</div>

</html>
